<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAdultosMayoresRRSS"
        tools:targetApi="31">

        <activity
            android:name=".Activity.Main"
            android:exported="true"
            android:label="Educando adultos mayores en RRSS"
            android:theme="@style/Theme.AppAdultosMayoresRRSS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Act_1_Welcome" />
        <activity android:name=".Activity.Act_2_SignUp" />
        <activity android:name=".Activity.Act_3_Eval_1a" />
        <activity android:name=".Activity.Act_3_Eval_1b" />
        <activity android:name=".Activity.Act_3_Eval_1c" />
        <activity android:name=".Activity.Act_3_Eval_1d" />
        <activity android:name=".Activity.Act_3_Eval_1e" />
        <activity android:name=".Activity.Act_3_Eval_1f" />
        <activity android:name=".Activity.Act_3_Eval_1g" />
    </application>

</manifest>